# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
# generated platform folders (run `flutter create .` to regenerate)
android/
ios/
web/
macos/
linux/
windows/
